<div class="sidebar">
    <div class="row">
      <div class="col-lg-12">
        <!-- Search Form -->
        <div class="sidebar-item search">
          <form id="search_form" name="gs" method="GET" action="#">
            <input id="search-query" type="text" name="q" class="searchText" placeholder="type to search..." autocomplete="on">
          </form>
          <div id="search-results"></div>
        </div>
      </div>
      <div class="col-lg-12">
        <!-- Recent Posts -->
        <div class="sidebar-item recent-posts">
          <div class="sidebar-heading">
            <h2>Recent Posts</h2>
          </div>
          <div class="content">
            <ul>
              {% for article in articles[:5] %}
                <li>
                  <a href="/{{ article.slug }}">
                    <h5>{{ article.title }}</h5>
                    <span>{{ article.date.strftime('%B %d, %Y') }}</span>
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <!-- Categories -->
        <div class="sidebar-item categories">
          <div class="sidebar-heading">
            <h2>Categories</h2>
          </div>
          <div class="content">
            <ul>
              {% for category, articles in categories|sort %}
                <li><a href="/{{ category.url }}">- {{ category }}</a></li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <!-- Tags -->
        <div class="sidebar-item tags">
          <div class="sidebar-heading">
            <h2>Tag Clouds</h2>
          </div>
          <div class="content">
            <ul>
              {% for tag, articles in tags|sort %}
                <li><a href="/{{ tag.url }}">{{ tag }}</a></li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
